# TD2 - MICD (MIC différentiel)

## Encodeur (émetteur)

In [2]:
def quantification(x):
    if (x<-2):
        y=-2
    elif (x>2):
        y=2
    else:
        y=x
    return (y)

def encodage(sequence):
    sortie = []
    a_chapeau=0
    for a_n in sequence:
        e_n = a_n - a_chapeau
        e_n_plus_q_n= quantification(e_n)
        sortie.append(e_n_plus_q_n)
        a_chapeau = a_chapeau + e_n_plus_q_n
    return(sortie)

def encodage(sequence):
    sortie = []
    a_chapeau=0
    for a_n in sequence:
        e_n = a_n - a_chapeau
        e_n_plus_q_n= quantification(e_n)
        sortie.append(e_n_plus_q_n)
        a_chapeau = a_chapeau + e_n_plus_q_n
    return(sortie)

## décodeur

In [3]:
def decodage(sequence_encodee):
    reconstruite = []
    valeur = 0
    for i in sequence_encodee:
        valeur = valeur + i
        reconstruite.append(valeur)
    return(reconstruite)

## Application sur une séquence

In [47]:
sequence = [1,2,2,2,2,2,5,5,5,5,5,6,5,6,2,1,3,2,2,2]
sequence_encodee = encodage(sequence)
sequence_reconstruite = decodage(sequence_encodee)

import pandas as pd
import numpy as np

v = sequence
v = np.vstack((v,sequence_encodee))
v = np.vstack((v,sequence_reconstruite))

newindex = ['a_n','e_n+q_n','a_n_chapeau']
df = pd.DataFrame(data=v,index=newindex)


df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
a_n,1,2,2,2,2,2,5,5,5,5,5,6,5,6,2,1,3,2,2,2
e_n+q_n,1,1,0,0,0,0,2,1,0,0,0,1,-1,1,-2,-2,1,-1,0,0
a_n_chapeau,1,2,2,2,2,2,4,5,5,5,5,6,5,6,4,2,3,2,2,2